*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.contenedor{
    display: flex;
    background-color:brown;
    flex-direction: column;   
}
.logo{
    text-align: right;
    padding-bottom: 2.4rem;
    padding-right: 2.6rem;
    padding-top: 2.2rem;
    
}
.logo img{
    width: 10%;
    height: 10%;
}
.titulo{
        
    line-height: 10.5rem;
    text-align: center;
    vertical-align: middle;
    float: left;
    margin-left: 2.5rem;
}
.cajaI{
    background-color: rgba(224, 7, 7, 0.884);
}
.header ul{
    overflow: hidden;
    background-color: aqua;
    list-style: none;
}
.header li{
    float: left;
}
.header li a{
    display: block;
    color: blue;
    text-align: center;
    padding: 0.5rem 0.7rem;
    text-decoration: none;
}
.header li a:hover {
    background-color: #111;
}
.header li {
    border-right: 0.1rem solid #180606;
}
.inicio{
    align-self: center;

}
.inicio{
    background-color:beige;
    height: 40%;
    width: 40%;
    padding: 2rem;
    margin: 2rem;
}
.inicio h1{
    text-align: center;
}
.inicio img{
    display: block;
    margin: auto;
    padding: 1.6rem;
    width: 53%;
    height: 53%;
    border-radius: 43%;
}
.inicio form{
    align-items: center;
}
.inicio label[for] {
    display: block;
}

.inicio input{
    width: 90%;
    height: 2rem;
    margin: .5rem
}
.inicio button{
    padding: .5em 1em;
    border:none;
    background: rgb(100,200,255);
    cursor: pointer;
    width: 90.6%;
    margin: .5rem
}
.inicio button:hover {
    background-color:white;
    color: red;
} 
.piePag{
    background: #ffff99;
    color: #333;
    text-align: center;
    padding: 2rem;
}
@media screen and (max-width: 750px) {
    body > h1 { font-size: 3rem; }
    .contenedor { 
      -ms-flex-direction: column;
      -webkit-box-orient: vertical;
      flex-direction: column; 
    }
}